
@import url('https://fonts.googleapis.com/css?family=Audiowide');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    scroll-behavior: smooth;
}
body{
    background-image: url("src/background.jpg");
    background-size: cover;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffcc00;
    box-shadow: 0 2px 8px rgba(0,0,0,.5);
    box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.8); 
    width: 460px;
    height: 680px;
    text-align: center;
    font-family: 'Audiowide',sans-serif;
   
}
h1{
    margin: 20px 0;
}
.add-elements{
    margin: 12px 0;
    
}
input{
    padding: 6px 4px;
    width: 70%;
}
button{
    padding: 7px 14px;
    background-color: #333333;
    border: none;
    border-radius: 4px;
    color: #f2f2f2;

}
.element-list{
    height: 480px;
    overflow-y: auto;
}
ul{
    padding: 5px;
   
}
li{
    list-style: none;
    padding: 10px 5px;
    background-color: #ffe066;
    margin: 12px 23px;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    border-radius: 3px;
    transition: .4s;
    width: 90%;
    font-family: sans-serif;
    color: #333333
}
button:hover{
    background-color: #1a1a1a;
    cursor: pointer;
}

li:hover{
    background-color: #cca300;
    cursor: pointer;
}

.checked{
    text-decoration: line-through;
    background-color: #cca300;
}

#file{
    color: #000000;
    position: absolute;
    bottom: 2%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 10px;
    width: 50%;
}

#btn2{
    background-color: #ffcc00;
    color: #000000;
    position: absolute;
    bottom: -7%;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    margin-left: 2%
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#btn2:hover{
    background-color: #b38f00;
    cursor: pointer;
}